<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLSchemes</key>
	<string>com.googleusercontent.apps.1041943706966-b09krf5ao7oag4ou9mm0o9i2ijrve3hs</string>
</dict>
</plist>
